<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/template::header-principal">
        <title>[[#{action.login}]]</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h2>[[#{errors_page.title_403}]]</h2>
        <p>[[#{errors_page.text_403}]]</p>
        <a th:href="@{/auth/login}">[[#{action.regresar}]]</a>
    </body>
</html>
